.newGameBlock {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	gap: 10px;
	margin: 0 auto;
	max-width: 1170px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}

.text {
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 300px;
	border: 1px solid white;
}
